{% extends 'base.html.twig' %}

{% block title %}CoalCreative-Car{% endblock %}

{% block body %}
    <div class="container">
        <h2>Add car:</h2>
        <div id="template">
            {{ form_start(createForm) }}
            <ul class="cars" data-prototype="{{ form_widget(createForm.cars.vars.prototype)|e('html_attr') }}"></ul>
            <button type="button" class="add_car_link" data-collection-holder-class="cars">Add new car</button>
            {{ form_end(createForm) }}
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(
            function () {
                var $carsCollectionHolder = $('ul.cars');
                $carsCollectionHolder.data('index', $carsCollectionHolder.find('input').length);

                $('body').on('click', '.add_car_link', function (e) {
                    var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                    addFormToCollection($collectionHolderClass);
                })

                function addFormToCollection($collectionHolderClass) {
                    var $collectionHolder = $('.' + $collectionHolderClass);
                    var prototype = $collectionHolder.data('prototype');
                    var index = $collectionHolder.data('index');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);
                    var $newFormLi = $(' <div class="col-lg-6 border-2 mt-10 mb-10"></div>').append(newForm);
                    $collectionHolder.append($newFormLi)
                }
            },
        );
    </script>
{% endblock %}